:root{
  --system-font: 'VT323', monospace;
  --bgc: #FFFFFF;
  --ftc: #111111;
}

body, ul{
  margin: 0;
  padding: 0;
  background-color: var(--bgc);
  font-family: var(--system-font);
  line-height: 1;
  box-sizing: border-box;
}

.structure{
  width: 100vw;
  height: 100vh;
  
  display: grid;
  grid-template-rows: auto 1fr;
}

.menu-bar{
  border-bottom: 1px var(--ftc) solid;
  padding: 0 10vmin;
}

.canvas-contaner{
  position: relative;
}

.canvas{
  position: absolute;
  top: 0;
  left: 0;
}


/* Layer adjustment */
#animation-drawing{
  z-index: 99;
}
#animation{
  z-index: 100;
}
#canvas-real{
  z-index: 0;
}
#canvas-ruler{
  z-index: 1;
}
#canvs-indicator{
  z-index: 2;
}
#canvas-draft{
  z-index: 50;
}

/* Status, for addClass and Remove Class */
.selected {
  background-color: var(--ftc);
  color: var(--bgc);
}