:root{
  --system-font: 'VT323', monospace;
  --bgc: #FFFFFF;
  --ftc: #111111;
}

body, ul{
  margin: 0;
  padding: 0;
  background-color: var(--bgc);
  font-family: var(--system-font);
  line-height: 1;
}

.structure{
  width: 100vw;
  height: 100vh;
  
  display: grid;
  grid-template-rows: 10% 1fr;
}

.menu-bar{
  border-bottom: 1px var(--ftc) solid;
  padding: 0 10vmin;
}

.canvas-contaner{
  
}


/* Status, for addClass and Remove Class */
.selected {
  background-color: var(--ftc);
  color: var(--bgc);
}